<div class='mailchimp-section'>
	<section class='card card-primary'>
		<header class='card-title'>Configuraci&oacute;n de Mailchimp</header>
		<div class='card-body'>
			<p class='lead'>
				Ten&eacute;s cuenta de Mailchimp? Integrala con Padma y y trasladá todos los contactos rapidamente. Te acercamos esta herramienta para que  te sea más fácil comunicarte con tus contactos.
			</p>
			<p><strong>Herramienta con costo adicional $xxx</strong></p>
			<div class='mailchimp-integration'>
				<div class='integration-item'>
					<img src="/assets/logo-padma.jpg" />
				</div>
				<div class='integration-item'>
					<div class='glyphicon glyphicon-resize-horizontal'></div>
				</div>
				<div class='integration-item'>
					<img src="/assets/logo-mailchimp.jpg" />
				</div>
			</div>
			<footer class='form-actions margin-top-20 text-right'>
				<a href="" class='btn btn-primary'>Comenzar</a>
			</footer>
		</div>
	</section>
</div>