// Place all the styles related to the Mailchimp::Configurations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mailchimp-head {
	color: #666;
	font-weight: bold;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.mailchimp-content {
	&.form-inline {
		label {
			display: inline-block;
			vertical-align: middle;
		}
		.form-control {
			margin-left: 5px;
			margin-right: 5px;
		}
	}
}

li.no-bullet {
  list-style: none;
}