// Place all the styles related to the Mailchimp::Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#templateForm .mailchimp_segment_fields {
  display: none;
  // background-color: red;
}

fieldset#filter_method {
  margin-top: 30px;
}

// New mockup
.mailchimp-section {
  .card-title {
    color: #000;
    font: {
      size: 24px;
      weight: normal;
    }
    margin-top: 15px;
    padding-left: 30px;
    text-transform: initial;
  }
  .card-body {
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
    h5 {
      color: #666;
      font-family: Arial, sans-serif;
    }
  }
  .lead {
    @media (min-width: 768px) {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
}

.mailchimp-table {
  background-color: #fff;
  padding: 10px;
  @media (min-width: 768px) {
    width: 75%;
  }
}

.mailchimp-segments {
  .table {
    border: none;
    margin-bottom: 0;
    > thead > tr,
    > tbody > tr {
      > th,
      > td {
        padding-bottom: 8px;
        padding-top: 8px;
      }
    }
    > tbody {
      > tr {
        > td {
          vertical-align: middle;
        }
      }
    }
  }
}

.add-new-segment {
  background-color: #ebebeb;
  padding: 15px;
  .form-control {
    @media (min-width: 768px) {
      width: 35%;
    }
  }
}

.scope {
  height: 100%;
}