<h1><%= @list.name %> Members</h1>

<h2>Scope</h2>
<%= @list.get_scope(@page, @per)["count"] %>

<%= render "mailchimp/lists/unsubscribed", list: @list, unsubscribed: @unsubscribed, cleaned: @cleaned %>
<%= render "mailchimp/lists/subscribed", list: @list, page: @page, per: @per %>
