<tr>
  <td colspan="6">
    <%= form_for TemplatesFolder.new(parent_templates_folder_id: params[:folder_id]) do |f| %>
      <%= f.hidden_field :parent_templates_folder_id %>
      <%= f.text_field :name %>
      <%= f.button t(".create_folder"), class: "btn" %>
    <% end %>
  </td>
</tr>
