<table class="table table-striped">
  <% @contacts.each do |c| -%>
    <% present = @mailchimp.contact_in_list?(@list_id, c) -%>
    <tr class="<%= (present)? 'success' : 'error' %>">
      <td><%= c.first_name + " " + c.last_name %></td>
      <td><%= (present)? 'ok' : 'MISSING' %></td>
    </tr>
  <% end -%>
  <% @extra_emails.each do |email| -%>
    <tr class="error">
      <td><%= email %></td>
      <td>EXTRA</td>
    </tr>
  <% end -%>
</table>
