# Example file for local_env.yml
# Replace this keys with working keys for the different webservices

accounts_key: secret
activities_key: secret
messaging_secret: secret
contacts_key: secret
attendance_key: secret
GMAIL_USERNAME: "cucu@gmail.com"
GMAIL_PASSWORD: "1234"
intercom_secret: secret
log_level: debug
crm_v0_api_key: secret
crm_contacts_v0_api_key: secret