<div class="mercury-snippet-panel">
  <div class="panel-info"><h4><%= t("templates.mercury.snippets.panel.info") %></h4></div>
  <div class="filter">
    <input class="filter focusable" type="text">
  </div>
  <ul>
    <li data-filter="contact, snippet">
      <img alt="Contact" data-snippet="contact" src="/assets/mercury/default-snippet.png"/>
      <h4><%= t("templates.mercury.snippets.panel.contact") %></h4>
      <div class="description"><%= t("templates.mercury.snippets.panel.contact_description") %></div>
    </li>

    <li data-filter="instructor, snippet">
      <img alt="Instructor" data-snippet="instructor" src="/assets/mercury/default-snippet.png"/>
      <h4><%= t("templates.mercury.snippets.panel.instructor") %></h4>
      <div class="description"><%= t("templates.mercury.snippets.panel.instructor_description") %></div>
    </li>

    <li data-filter="trial_lesson, snippet">
      <img alt="Trial Lesson" data-snippet="trial_lesson" src="/assets/mercury/default-snippet.png"/>
      <h4><%= t("templates.mercury.snippets.panel.trial_lesson") %></h4>
      <div class="description"><%= t("templates.mercury.snippets.panel.trial_lesson_description") %></div>
    </li>
    
  </ul>
</div>
