// Place all the styles related to the mail_models controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text_area_field {
  //width: 210px;
  height: 150px;
}

#att-table {
  width: 0%;
}

.contact-snippet, .instructor-snippet, .time_slot-snippet, .trial_lesson-snippet {
  display: inline-block;
}