// Place all the styles related to the mail_models controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.editHtmlForm {
  textarea {
    height: 80vh;
  }
  margin-left: 25px;
  margin-right: 25px;
}

.form-group.actions {
  margin-top: 15px;
}

.text_area_field {
  //width: 210px;
  height: 150px;
}

.send_email_form {
  margin: 0px;
}

.template_fields {
  height: 20px;
  width: 206px;
}

.template_textarea {
  height: 200px;
}

#att-table {
  width: 0%;
}

.contact-snippet, .instructor-snippet, .time_slot-snippet, .trial_lesson-snippet {
  display: inline-block;
}

.delete-btn, .delete-btn:hover, .delete-btn:visited {
  color: red;
}

table#templates td:last-child {
  text-align: right;
}

.btn-primary {
  color: white !important;
}

.btn-primary a:visited {
  color: white !important;
}

.btn-primary a:hover {
  color: white !important;
}

.button_to {
  display: inline-block;
}

.modal-footer > div {
  display: inline-block;
}

.bar {
  background: #008000;
  height: 18px;
}

.edit_template {
  white-space: nowrap;
}
