// Place all the styles related to the triggers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#alert-message {
	display: none;
}

#add-filter{
  display: none;
}

.set-background{
  background-image: -moz-linear-gradient(center bottom , #EEEEEE 0px, #FFFFFF 50%);
}
.trigger-form{
  h2 {
    color: #FF4A00;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4em;
  }
  #old_add_more_filter{
    display: none;
    margin-top: 14px;
  }
  .filter-option{
    text-align: center !important;
  }

  .event_names.bootstrap-select > .btn {
    height: 39px;
  }

  .alert{
    padding: 10px !important;
  }

  .remove-filter{
    margin-left: 27px;
  }

  .remove-condition {
    margin-left: 27px;
  }

  #filter_option{
    display: none;
    position: relative;
  }

  #add_more_filter{
    display: none;
  }

  #add_more_condition {
    display: none;
  }
  .add_more, .add_condition{
    margin-top: 30px;
    margin-bottom: 18px;
  }

  .condition_option {
    display: none;
  }

  .offset_number{
    width: 221px;
    border: 1px solid #B8B8B8;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(184, 184, 184, 0.8) inset;
    color: #808080;
    font-size: 12px;
    margin-bottom: 8px;
    min-height: 40px;
    float: left;
  }

  .part2{
    /* display: none; */
    margin-top: 54px;
  }
  
  .hint {
    li {
      margin-left: 30px;
    }
  }
  
  .from_address_field {
    width: 60%;
    margin-bottom: 10px;
  }

  .offset_unit{
    float: left !important;
    margin-left: 8px !important;
  }

  .offset_reference_block{
    float: left;
    margin-left: 9px;
  }

  .right-arrow{
    color: #AAAAAA;
    font-size: 10px;
  }

  .template-right-arrow{
    float: left;
    margin-left: 8px;
    margin-top: 11px;
  }

  .create_trigger{
    margin-top: 30px;
  }

  .remove_template_reference{
    margin-left: 6px;
  }

}

.clear{
  clear: both;
}
