// Place all the styles related to the triggers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#add-filter {
  display: none;
}

.trigger-form {
  #old_add_more_filter{
    display: none;
    margin-top: 14px;
  }

  .remove-filter{
    margin-left: 27px
  }

  #filter_option{
    display: none;
    position: relative;
  }

  .remove_template_reference{
    margin-left: 6px;
  }

}

// Triggers
.triggers-head {
  color: #666;
  font: {
    size: 14px;
    weight: bold;
  }
  margin-bottom: 10px;
  text-transform: uppercase;
}

// @new
#alert-message {
  display: none;
  padding-bottom: 8px;
  padding-top: 8px;
  vertical-align: middle;
}

.trigger-form {
  .filter-option {
    text-align: center !important;
  }

  .control-label {
    text-align: left;
  }

  .bootstrap-select {
    vertical-align: middle;
  }

  .selectpicker {
    &.btn {
      height: 34px;
      line-height: normal;
      outline: none;
    }
  }

  #add_more_filter {
    &:before {
      content: "\2b";
      font: {
        family: 'Glyphicons Halflings';
      }
      padding-right: 3px;
      position: relative;
      top: 1px;
    }
  }

  #add_more_filter,
  .part2 { // Part2 filters
    display: none;
  }

  .right-arrow {
    color: #aaa;
    font-size: 10px;
    vertical-align: middle;
  }

  .part2 {
    .fields {
      .offset_reference_block {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

}