<%= f.fields_for :filters, @trigger.filters.new do |filter| %>
  <div class="col-md-12">
    <label class="control-label">Filter</label>
    <div class="controls form-inline">
      <%= filter.select :key, [], {}, class: 'selectpicker key_select col-xs-4 col-md-3', "data-live-search"=>"true" %>
      <small class='text-grey'><span class="glyphicon glyphicon-play"></span></small>
      <%= filter.select :value, [], {}, class: 'selectpicker value_select col-xs-4 col-md-3', "data-live-search"=>"true" %>
      <!-- <a class="remove-filter btn btn-mini btn-danger" rel="nofollow">x</a> -->
      <a data-association="filters" class="remove_nested_fields btn btn-danger" href="javascript:void(0)">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
  </div>
<% end %>
