<%= f.fields_for :filters, @trigger.filters.new do |filter| %>
  <div class="control-group">
    <label class="control-label"></label>
    <div class="controls form-inline">
      <span class="filter_key"></span>
      <% filter.hidden_field :key, class: "filter_key_input" %>
      <span class="picker-container">
        <%= filter.select :key, [], {}, class: 'selectpicker filter_key_input', "data-live-search"=>"true", "data-width"=>"320px", "data-container" => ".form-inline" %>
      </span>
      <div class = "right-arrow glyphicon glyphicon-play"></div>
      <span class="picker-container">
        <%= filter.select :value, [], {}, class: 'selectpicker value_select', "data-live-search"=>"true", "data-width"=>"320px" %>
      </span>
      <!-- <a class="remove-filter btn btn-mini btn-danger" rel="nofollow">x</a> -->
      <a data-association="filters" class="remove_this_filter btn btn-mini btn-danger" href="javascript:void(0)">
        <i class="glyphicon glyphicon-remove"></i>
      </a>
    </div>
  </div>
<% end %>
