<%= form_for 'options', {url: '', html: {class: 'form-horizontal', style: 'width:615px'}} do |f| %>

  <div class="form-inputs mercury-display-pane-container">

    <fieldset>
      <div class="control-group string optional">
        <label class="string optional control-label" ><%= t('templates.mercury.select_tag') %></label>
        <div class="controls">
          <% contact_options = [
                [t('contact.mercury.tags.full_name'), "[Contact's Full Name]"],
                [t('contact.mercury.tags.first_name'), "[Contact's First Name]"],
                [t('contact.mercury.tags.last_name'), "[Contact's Last Name]"],
                [t('contact.mercury.tags.gender'), "[Contact's Gender]"], 
                [t('contact.mercury.tags.a_u_o'), "[Contact's a_u_o]"], 
                [t('contact.mercury.tags.instructor_name'), "[Contact's Instructor Name]"], 
                [t('contact.mercury.tags.instructor_email'), "[Contact's Instructor Email]"]] 
           %>
           <%= select_tag "contacts", options_for_select(contact_options, params[:contacts]), :class=>'span6'%>
        </div>
        <!-- hide descriptions until lorem ipsum removed -->
        <div class="description" style="display: none"></div>
      </div>
    </fieldset>
  </div>

  <div class="form-actions mercury-display-controls">
    <input class="btn btn-primary" name="commit" type="submit" value="<%= t('templates.mercury.insert_tag') %>"/>
  </div>

<% end %>
