<%= form_for 'options', {url: '', html: {class: 'form-horizontal', style: 'width:615px'}} do |f| %>

  <div class="form-inputs mercury-display-pane-container">

    <fieldset>
      <div class="control-group string optional">
        <label class="string optional control-label" >Select Contact Tag</label>
        <div class="controls">
          <% contact_options = [["Full Name", "%{contact.full_name}%"],
                ["First Name", "%{contact.first_name}"],
                ["Last Name", "%{contact.last_name}"],
                ["Gender", "%{contact.gender}"], 
                ["a_u_o", "%{contact.a_u_o}"], 
                ["Instructor Name", "%{contact.instructor.name}"], 
                ["Instructor Email", "%{contact.instructor.email}"]] 
           %>
           <%= select_tag "contacts", options_for_select(contact_options, params[:contacts]), :class=>'span6'%>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="form-actions mercury-display-controls">
    <input class="btn btn-primary" name="commit" type="submit" value="Add Tag"/>
  </div>

<% end %>